.form-content{
  display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 20px;
    width:20%

}
.btn{
  width: 90px;
  height:40px;
  border-radius: 5px;
}

.input-field{
    height: 30px;
    border-radius: 5px;
    width:95%
}